<!DOCTYPE html>
<html lang="en">
   <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Input the News</title>

</head>
    <body>
         <script src="https://d3js.org/d3.v5.min.js"></script>
         <section>
                <div style="background:gainsboro !important" class="jumbotron no-margin">
                    <div class="container-fluid introduction">
                        <h1 class="name">Talks Analysis</h1>
                        <p>This is used to analysis news.</p>
                      <a href="#" class="visible-xs btn call-me">Here are our source code!</a>
                    </div>
                </div>
            </section>

        {% block content %}{% endblock %}
    </body>
</html>