<!DOCTYPE html>
<html lang="en">
   <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
       <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
        </script>
    <meta charset="UTF-8">
    <title>Input the News</title>
    </head>
   <style>
       body {
        {#background-color: #272b30;#}
        {#padding: 30px 40px;#}
        {#text-align: center;#}
        font-family: OpenSans-Light, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;
        }
   </style>
    <body>
         <script src="https://d3js.org/d3.v5.min.js"></script>
         <section>
                <div style="background:gainsboro !important" class="jumbotron no-margin">
                    <div class="container-fluid introduction">
                        <h1 class="name">News Speech Extraction</h1>
                        <p>Analysis news and extract the content.</p>
                      <a href="#" class="visible-xs btn call-me">by PUG team</a>
                    </div>
                </div>
            </section>

        {% block content %}{% endblock %}
    </body>
</html>