{% extends "base.html" %}
{% block content %}
   <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-1"></div>
            <div class="col-10">
              <table class="table table-hover">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">人物</th>
                  <th scope="col">观点</th>
                  <th scope="col">来源</th>
                </thead>
                <tbody>
                  <meta charset="UTF-8">
                  {% for id, view in views_items %}
                    <tr>
                        <th scope="row">{{id + 1}}</th>
                        <td>{{ view.author}}</td>
                        <td>{{ view.content}}</td>
                        <td>{{ view.source}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}

